* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Mulish', sans-serif;
    background-color: #E1DFDD;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
}

.container {
    max-width: 1600px;
    margin: auto;
    padding: 0 30px;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 60px;
    color: black;
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    font-weight: 600;
    position: relative;
    pointer-events: none;
}

h2 {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 20px;
}

p {
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.65;
    margin-bottom: 15px;
}

.heigh-index {
    z-index: 100;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
    background: url('../img/smiley.svg') no-repeat, #F6A92B;
    background-size: 500px;
    background-position: center;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;
}

.button {
    color: #000;
    text-decoration: none;
    position: relative;
    padding: 20px 0 20px 40px;
    background: url(../img/smiley.svg) no-repeat;
    background-size: 30px;
    background-position: 0 13px;
    margin-top: 20px;
    display: block;
}

@media (min-width: 768px) {
    .loading-screen {
        background-size: 1020px;
    }
}

@media (min-width: 992px) {
    .loading-screen {
        background-size: 1200px;
    }
}

@media (min-width: 1200px) {
    .loading-screen {
        background-size: 1400px;
    }
}

@media (min-width: 1500px) {
    .loading-screen {
        background-size: 1600px;
    }
}

/* --------- 
HEADER 
----------*/
.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
.desktop-header {
    display: none;
}

.slide-nav {
    background-color: #F6A92B;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    transform: translateX(-100%);
    transition: transform .2s ease-in-out;
}

.slide-nav.open {
    transform: translateX(0);
}

.slide-nav button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.slide-nav nav {
    padding: 100px 0 0 30px;
}

.slide-nav nav a {
    display: block;
    margin-bottom: 20px;
    font-size: 52px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.mobile-header {
    display: grid;
    grid-template-columns: 180px 1fr;
    justify-content: space-between;
    padding-top: 20px;
}

.homepage .mobile-header button,
.homepage .slide-nav button {
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    background: #000;
    width: fit-content;
    justify-self: end;
    cursor: pointer;
}

.homepage .slide-nav button {
    border-color: black;
    background-color: transparent;
    color: black;
}

@media (min-width: 992px) {
    .desktop-header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 20px;
    }

    .mobile-header,
    .slide-nav {
        display: none;
    }
    
    .desktop-header nav {
        justify-self: end;
    }

    .desktop-header nav a {
        color: #000;
        text-decoration: none;
    }

    .homepage .desktop-header nav a,
    .homepage .desktop-header span {
        color: white;
    }
}

/* --------- 
FIRST SECTION 
----------*/
.first {
    background-color: #000;
    height: 100vh;
}

.first-wrapper {
    height: 100vh;
    display: grid;
    align-content: center;
    position: relative;
}

.first-wrapper span {
    display: block;
    color: white;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.first-wrapper .bottom-sentence {
    position: absolute;
    color: white;
    bottom: 20px;
    font-size: 12px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.first-wrapper .content {
    position: relative;
}

.first-wrapper .content img {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 150px;
}

@media (min-width: 768px) {
    .first-wrapper span {
        font-size: 72px;
    }

    .first-wrapper .content img {
        width: 190px;
    }
}

@media (min-width: 992px) {
    .first-wrapper .bottom-sentence {
        font-size: 14px;
        bottom: 50px;
    }
}

@media (min-width: 1200px) {
    .first-wrapper span {
        font-size: 100px;
    }

    .first-wrapper .content img {
        width: 300px;
    }

    .first-wrapper .bottom-sentence {
        font-size: 16px;
    }
}

/* --------- 
HERO SECTION 
----------*/
.hero {
    padding: 150px 0 100px;
}

.content .subtitle {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 60px;
}

.hero h1,
.content .subtitle {
    margin-bottom: 30px;
    display: block;
}

.hero-wrapper {
    position: relative;
    pointer-events: none;
}

.hero-image-wrapper {
    overflow: hidden;
    height: 200px;
}

.hero-image-wrapper img {
    height: 500px;
    position: relative;
    top: -260px;
}

.hero-bottom {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

.hero-bottom img {
    display: none;
}

.hero-bottom .payoff {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
}

.hero-bottom .name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 32px;
    display: block;
    text-align: right;
    line-height: 1;
}

@media (min-width: 768px) {
    .hero-bottom {
        grid-template-columns: 50px 1fr 1fr;
    }

    .hero-bottom .payoff {
        margin-left: 50px;
    }

    .hero-bottom img {
        display: block;
    }

    .content .subtitle {
        margin-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .hero-top h1,
    .content h1,
    .content .subtitle {
        font-size: 80px;
    }

    .hero-bottom .payoff {
        font-size: 20px;
    }

    .hero-bottom .name {
        font-size: 62px;
    }
}

@media (min-width: 1200px) {
    .hero-top h1,
    .content h1,
    .content .subtitle {
        font-size: 100px;
    }

    .hero-bottom .name {
        font-size: 80px;
    }

    .hero-bottom .payoff {
        margin-left: 100px;
    }

    .content .subtitle {
        margin-bottom: 100px;
    }
}

@media (min-width: 1500px) {
    .hero {
        padding: 200px 0 100px;
    }
}

/* --------- 
ABOUT SECTION 
----------*/
.about-wrapper {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.about-wrapper .subtitle {
    padding: 30px 0;
}

.about-wrapper .subtitle p {
    font-weight: 600;
}

@media (min-width: 992px) {
    .about-wrapper {
        grid-template-columns: 200px 1fr;
    }

    .about-wrapper h2 {
        margin-bottom: 70px;
    }

    .about-wrapper .bottom-content {
        display: grid;
        grid-template-columns: 30% 1fr;
        gap: 50px;
    }

    .about-wrapper .subtitle {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .about-wrapper h2 {
        font-size: 32px;
    }

    .about-wrapper .subtitle p {
        font-size: 18px;
    }

    .about-wrapper .bottom-content {
        grid-template-columns: 50% 1fr;
    }
}

@media (min-width: 1500px)  {
    .about-wrapper {
        margin-right: 200px;
        grid-template-columns: 25% 1fr;
    }
}

/* --------- 
SERVICES SECTION 
----------*/
.services {
    padding: 50px 0;
    overflow: hidden;
}

.services-top-wrapper {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
}

.services-top-wrapper .title {
    text-transform: uppercase;
    font-weight: 600;
}

.services-top-wrapper .subtitle {
    justify-self: end;
    font-weight: 600;
}

.services .client {
    margin-top: 30px;
}

.services .client .quote {
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}

.services .client-slider img {
    margin: 0 10px;
}

@media (min-width: 768px) {
    .services {
        padding: 100px 0;
    }

    .services .client {
        margin-top: 50px;
    }

    .services .client h2 {
        font-size: 48px;
        margin-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .services .client {
        display: grid;
        grid-template-columns: 1fr 50%;
        gap: 30px;
    }

    .services .client p,
    .services .client span {
        margin-left: 70px;
    }

    .services .client-slider {
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .services .client {
        grid-template-columns: 1fr 40%;
    }
    
    .services .client h2 {
        font-size: 80px;
        margin-bottom: 120px;
    }

    .services .client p, .services .client span {
        margin-right: 55%;
    }
}

/* --------- 
FOOTER SECTION 
----------*/
.footer {
    padding: 50px 0;
}

.footer-top-wrapper {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
}

.footer-top-wrapper .title {
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.footer-top-wrapper .subtitle {
    justify-self: end;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
}

.footer-top-wrapper a {
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 20px;
    color: black;
    font-weight: 600;
    font-size: 55px;
    line-break: anywhere;
    text-transform: uppercase;
}

.footer-bottom-wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-bottom-wrapper img {
    max-width: 220px;
    margin-bottom: 10px;
}

.footer-bottom-wrapper .socials {
    grid-row-start: 2;
}

.footer-bottom-wrapper .socials a {
    color: black;
    text-decoration: none;
}

.footer-bottom-wrapper .credits {
    grid-row-start: 1;
    grid-column-start: 2;
    text-align: right;
}

.footer-bottom-wrapper .credits span {
    display: block;
    font-size: 12px;
}

@media (min-width: 992px) {
    .footer-top-wrapper {
        grid-template-columns: 200px 1fr 1fr;
    }

    .footer-top-wrapper a {
        font-size: 80px;
    }
}

@media (min-width: 1200px) {
    .footer-bottom-wrapper {
        margin-top: 150px;
    }

    .footer {
        padding: 150px 0 50px;
    }
}

@media (min-width: 1500px) {
    .footer-top-wrapper {
        grid-template-columns: 25% 1fr 1fr;
    }
}


/* --------- 
ABOUT PAGE 
----------*/
.about {
    padding: 150px 0 0;
}

.about h1 {
    margin-bottom: 30px;
    font-size: 32px;
}

.about .subtitle {
    font-size: 20px;
}

.accordion {
    max-height: 22px;
    padding: 30px 0;
    overflow: hidden;
    border-top: 1px solid black;
    transition: max-height .3s ease-in-out;
}

.accordion p {
    margin-left: 30px;
}

.accordion h3 {
    font-weight: 500;
}

.accordion .order {
    display: block;
}

.accordion.active {
    max-height: 100px;
}

.accordion .plus-icon-line {
    transition: transform .2s ease-in-out;
    transform: rotate(0) translateY(0px) translateX(0);
}

.accordion.active .plus-icon-line {
    transform: rotate(-90deg) translateY(0px) translateX(-22px);
}

.accordion:last-child {
    border-bottom: 1px solid black;
}

.accordion button {
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    align-items: center;
    margin-bottom: 30px;
}

.accordion button p {
    margin-bottom: 0;
}

.awards-wrapper {
    padding: 50px 0;
}

.awards-wrapper table {
    width: 100%;
    text-align: left;
}

.awards-wrapper table th {
    padding: 10px 0;
    text-transform: uppercase;
}

.awards-wrapper td {
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.awards-wrapper table, 
.awards-wrapper th, 
.awards-wrapper td {
  border-top: 1px solid black;
  border-collapse: collapse;
}


@media (min-width: 768px) {
    .accordion {
        max-height: 26px;
    }

    .accordion h3,
    .accordion .order {
        font-size: 18px;
    }

    .services-wrapper,
    .awards-wrapper {
        display: grid;
        grid-template-columns: 50px 1fr;
    }

    .services-wrapper h2,
    .awards-wrapper h2 {
        font-size: 32px;
        line-height: 1;
    }

    .awards-wrapper table th,
    .awards-wrapper table td {
        padding: 20px 0;
    }
}

@media (min-width: 992px) {
    .about h1 {
        font-size: 62px;
    }

    .services-wrapper h2, 
    .awards-wrapper h2 {
        font-size: 62px;
    }

    .services-wrapper,
    .awards-wrapper {
        grid-template-columns: 200px 1fr;
    }

    .about .subtitle {
        font-size: 40px;
        margin-top: 20px;
    }

    .about .bottom-content .subtitle {
        margin-top: 0;
    }

    .about-wrapper .subtitle p {
        font-size: 18px;
    }

    .accordion button {
        grid-template-columns: 150px 1fr 30px;
    }

    .accordion p {
        margin: 0 150px;
    }
}

/* --------- 
CONTACT PAGE 
----------*/
.contact-page {
    min-height: 100vh;
    background-color: #000;
}

.contact {
    padding: 100px 0;
    text-align: center;
}

.contact .top-title {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
}

.contact a {
    color: white;
    font-size: 38px;
    line-break: anywhere;
    display: block;
    text-transform: uppercase;
}

.contact .social-media {
    margin-top: 150px;
}

.contact-page .desktop-header > *,
.contact-page .desktop-header a {
    color: white;
}

@media (min-width: 768px) {
    .contact {
        padding: 150px 0 100px;
    }

    .contact .top-title {
        font-size: 24px;
    }
    
    .contact a {
        font-size: 50px;
    }
}

@media (min-width: 1200px) {
    .contact .top-title {
        font-size: 24px;
    }
    
    .contact a {
        font-size: 80px;
    }
}